* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: antiquewhite;
    background-color: rgb(15, 15, 15);

}

body {
    font-family: "p22-1722-pro", sans-serif;
    width: 100%;
    min-height: 100vh;
    position: relative; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: inherit;
    cursor:pointer;
    transition: transform 8s ease;
}

a:hover {
    transform: scale(1.2);
}

#wonky {
    animation-name: wonky;                
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    animation-iteration-count:infinite;
    animation-direction: normal;
    animation-fill-mode: forwards;
}



#toThee span {
    display: inline-block;
    transition: transform 3s ease-in-out;
}



#toThee:hover span:nth-child(1) {  
    animation: disperse1 5s forwards;
}

#toThee:hover span:nth-child(2) { 
    animation: disperse2 5s forwards;
}

#toThee:hover span:nth-child(3) { 
    animation: disperse3 5s forwards;
}

#toThee:hover span:nth-child(4) { 
    animation: disperse4 5s forwards;
}

#toThee:hover span:nth-child(5) { 
    animation: disperse5 5s forwards;
}

#toThee:hover span:nth-child(6) { 
    animation: colors 5s forwards;
 }



@keyframes wonky {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px) rotate(5deg);
    }
   
}

@keyframes colors {
    0% {
        color: antiquewhite; 
    }
    100% {
        color: #8A0303;
    }
}


@keyframes disperse1 {
    0% {
        transform:rotate(0deg) translate(0px) rotate(0deg);
    }
    100% {
        transform: rotate(45deg) translate(170px, -260px) rotate(0deg);
    }
}

@keyframes disperse2 {
    0% {
        transform: rotate(0deg) translate(0px) rotate(0deg);
    }
    100% {
        transform: rotate(0deg) translate(320px, -50px) rotate(0deg);
    }
}

@keyframes disperse3 {
    0% {
        transform: rotate(0deg) translate(0px) rotate(0deg);
    }
    100% {
        transform: rotate(133deg) translate(-270px, -200px ) rotate(0deg);
    }
}

@keyframes disperse4 {
    0% {
        transform:rotate(0deg) translate(0px) rotate(0deg);
    }
    100% {
        transform: rotate(400deg) translate(210px, -80px) rotate(0deg);
    }
}

@keyframes disperse5 {
    0% {
        transform: rotate(0deg) translate(0px) rotate(0deg);
    }
    100% {
        transform: rotate(340deg) translate(-20px, 10px) rotate(0deg);
    }
}

@keyframes disperse6 {
    0% {
        transform: rotate(0deg) translate(0px) rotate(0deg);
    }
    100% {
        transform: rotate(300deg) translate(150px) rotate(-300deg);
    }
}
