* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: antiquewhite;
    background-color: rgb(15, 15, 15);

}


body {
    font-family: "p22-1722-pro", sans-serif;
    width: 100%;
    min-height: 100vh;
    position: relative; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
    cursor:pointer;
    transition: transform 8s ease;
}

a:hover {
    transform: scale(1.2);
}

.wonky {
    animation-name: wonky;                
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    animation-iteration-count:infinite;
    animation-direction: normal;
    animation-fill-mode: forwards;
    position: relative;
}

#shadow {
    position: relative; 
    color: antiquewhite; 
    transition: text-shadow 0.3s ease;
}

#shadow:hover {
    animation: skewShadow 6s forwards; 
}

@keyframes skewShadow {

    50% {
        text-shadow: 
            -80px 20px 0 rgb(46, 46, 46), 
            80px -20px 0 rgb(46, 46, 46), 
            0px -60px 0 rgb(46, 46, 46), 
            0px 60px 0 rgb(46, 46, 46); 
    }
    100% {
        text-shadow: 
            0px 0px 0 rgb(0, 0, 0), 
            0px 0px 0 rgb(0, 0, 0), 
            0px 0px 0 rgb(0, 0, 0), 
            0px 0px 0 rgb(0, 0, 0); 
    }
}


@keyframes wonky {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px) rotate(5deg);
    }
   
}