* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: antiquewhite;
    background-color: rgb(15, 15, 15);

}

body {
    font-family: "p22-1722-pro", sans-serif;
    width: 100%;
    min-height: 100vh;
    position: relative; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: inherit;
    cursor:pointer;
    transition: transform 8s ease;
}

a:hover {
    transform: scale(1.2);
    animation-name: flicker;
    animation-duration: 8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count:infinite;

}

#wonky {
    animation-name: wonky;                
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    animation-iteration-count:infinite;
    animation-direction: normal;
    animation-fill-mode: forwards;

}

#wavy {
    display: inline-block;
}

.word {
    display: inline-block;
    cursor: pointer;
}

.word span {
    display: inline-block;
    transition: transform 1s ease-in-out;
}

.word:hover span:nth-child(odd) {
    animation: skewLeft 5s ease-in-out forwards;
}

.word:hover span:nth-child(even) {
    animation: skewRight 5s ease-in-out forwards;
}



@keyframes wonky {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px) rotate(5deg);
    }
   
}

@keyframes flicker {
    0% {
        opacity: 1;
    }
    20% {
        opacity: .050;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: .050;
    }
    100% {
        opacity: 1;
    }
}

@keyframes wordHover {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

@keyframes skewLeft {
    0% {
        transform: skew(0deg);
    }
    25% {
        transform: skew(-20deg);
    }
    50% {
        transform: skew(20deg);
    }
    75% {
        transform: skew(-10deg);
    }
    100% {
        transform: skew(0deg);
    }
}

@keyframes skewRight {
    0% {
        transform: skew(0deg);
    }
    25% {
        transform: skew(10deg);
    }
    50% {
        transform: skew(-10deg);
    }
    75% {
        transform: skew(5deg);
    }
    100% {
        transform: skew(0deg);
    }
}


@keyframes scale {
    0% {
        transform: scale();
    }
    40% {transform: scale(-10deg);
    }
    60% {
        transform: scale(10deg);
    }
    80% {
        transform: skale(-10deg);
    }
    100% {
        transform: skale(0deg);
    }
}