* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: antiquewhite;
    background-color: rgb(15, 15, 15);

}

body {
    font-family: "p22-1722-pro", sans-serif;
    width: 100%;
    min-height: 100vh;
    position: relative; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: inherit;
    cursor:pointer;
    transition: transform 8s ease;
}

a:hover {
    transform: scale(1.2);
}

#wonky {
    animation-name: wonky;                
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    animation-iteration-count:infinite;
    animation-direction: normal;
    animation-fill-mode: forwards;
}


#animation span {
    display: inline-block;
    transition: transform 3s ease-in-out;
}

#animation:hover span:nth-child(1) {  
    animation: opens 5s forwards,
    colors 6s forwards;
}

#animation:hover span:nth-child(2) { 
    animation: opensXpand 5s forwards, colors 6s forwards;
}


@keyframes wonky {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px) rotate(5deg);
    }
   
}

@keyframes opens {
    0% {
        transform:rotate(0deg) translate(0px) scale(100%);
    }
    100% {
        transform: rotate(-45deg) translate(70px, -60px) scale(150%);
    }
}

@keyframes opensXpand {
    0% {
        transform: rotate(0deg) translate(0px) scale(100%);
    }
    100% {
        transform: rotate(90deg) translate(70px, -60px) scale(300%);
    }
}

@keyframes colors {
    0% {
        color: antiquewhite; 
    }
    100% {
        color: #8A0303;
    }
}
