* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: antiquewhite;
    background-color: rgb(15, 15, 15);

}

body {
    font-family: "p22-1722-pro", sans-serif;
    width: 100%;
    min-height: 100vh;
    position: relative; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: inherit;
    cursor:pointer;
    transition: transform 8s ease;
}

a:hover {
    transform: scale(1.2);
}

#wonky {
    animation-name: wonky;                
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    animation-iteration-count:infinite;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

#wonky:hover {
    animation: wonky 6s infinite alternate, glow 1s infinite alternate;
}

@keyframes wonky {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px) rotate(5deg);
    }
   
}

@keyframes glow {
    0% {
        text-shadow: 
        0 0 5px #ffffff, 
        0 0 10px #ffffff, 
        0 0 15px #ffffff, 
        0 0 20px #ffffff, 
        0 0 25px #ffffff;
    }
    100% {
        text-shadow: 
        0 0 10px #000000, 
        0 0 20px rgb(255, 255, 255), 
        0 0 30px rgb(255, 255, 255), 
        0 0 40px rgb(255, 255, 255), 
        0 0 50px rgb(255, 255, 255);
    }

}