* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: antiquewhite;
    background-color: rgb(15, 15, 15);
    transition: background-color 0.5s ease;
}

body {
    font-family: "p22-1722-pro", sans-serif;
    width: 100%;
    min-height: 100vh;
    position: relative; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeToBlack 4s forwards;
}

a {
    text-decoration: none;
    color: inherit;
    cursor:pointer;
    transition: transform 8s ease;
    transition: transform 8s ease, background-color 06s ease, color 6s ease;
}

a:hover {
    transform: scale(1.2);
}

#wonky {
    animation-name: wonky;                
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    animation-iteration-count:infinite;
    animation-direction: normal;
    animation-fill-mode: forwards;
    transition: color 6s ease;
}

#wonky:hover {
    color: rgb (15, 15, 15);
}

body:hover {
    background-color: antiquewhite;
}

@keyframes wonky {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px) rotate(5deg);
    }
   
}

@keyframes fadeToBlack {
    0% {
        background-color: white;
    }
    100% {
        background-color: rgb(15, 15, 15);
    }
}